@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-permanentmarker: 'Permanent Marker', cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1800px;
  margin: 0 auto;
}

/* Global pointer cursor for buttons */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}